

// .rc-accordion-toggle {
//     display: flex;
//     align-items: flex-start;
//     cursor: pointer;
//     justify-content: space-between;
//     transition: 0.3s;
// }
// .rc-accordion-toggle.active{

// }
// .rc-accordion-toggle.active .rc-accordion-icon{
//     transform: rotate(180deg);
//     color: #fff;
// }
// .rc-accordion-card{
//     border-radius: 5px;
//     margin-bottom: 10px;
//     overflow: hidden;
// }
// .rc-accordion-card:last-child{
//     margin-bottom: 0;
// }
// .rc-accordion-title{
//     color: rgba(0, 39, 78, 1);
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 23px;
//     border-top: 1px #E2E4EA solid;
//     display: block;
//     padding: 16px 0;
//     cursor: pointer;
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
// }

// .rc-accordion-icon{
//     position: relative;
//     top: 2px;
//     color: #475F7B;
//     transition: 0.35s;
//     font-size: 12px;
// }
// .rc-accordion-body{
//     flex: 1 1 auto;
//     min-height: 1px;
//     padding: 15px;
// }
// .rc-accordion-body p{
//     margin-bottom: 0;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 24px;
//     color: #727E8C;
// }
// .rc-collapse{
//     position: relative;
//     height: 0;
//     overflow: hidden;
//     transition: height 0.35s ease;
// }
// .rc-collapse.show{
//     height: auto;
// }






.OverViewAccordion{
    width: 100%;
    margin: 10px 0 40px;
    .Row{
        width: 100%;
        &.active{
            p{
                display: block;
            }
        }
        span{
            color: rgba(0, 39, 78, 1);
            font-size: 18px;
            font-weight: 700;
            line-height: 23px;
            border-top: 1px #E2E4EA solid;
            display: block;
            padding: 16px 0;
            cursor: pointer;
            align-items: center;
            display: flex;
            justify-content: space-between;
            svg{
                width: 16px;
            }
        }
        p{
            color: rgba(88, 100, 137, 1);
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            display: none;
            margin-bottom: 14px;
        }
    }
}


.Row p {
    display: none;
  }
  
  .Row.active p {
    display: block;
  }
