// must add this to every component
@import '@/styles/common/commonClasses/mixin';

.figure {
    display: grid;
    grid-template-columns: 445px 1fr;
    grid-gap: 0 24px;
    span{
        display: block;
        border-radius: 12px;
        overflow: hidden;
        img{
            border-radius: 12px;
             overflow: hidden;
        }
    }
}

.figcaption {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    display: flex;
    gap: 0 4px;
    align-items: center;
    position: relative;
}

.footer-rhs {
    margin-left: auto;
    display: flex;
    gap: 0 6px;
}

.horizontal-image {
    @extend .figure;
    span{
        border-radius:12px 40px 12px 12px;
    }
}

.month-picks {
    @extend .figure;
    grid-template-columns: 175px 1fr;
    grid-gap: 0;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), #EFF0F4;

    .figcaption {
        padding: 16px;
    }
    .IconRow{
        height: 100%;
    }
    span{
        border-radius: 0;
        height: 100%;

      img{
        border-radius: 12px 0px 0 13px;
      }
    }
}

.list-card {
    @extend .figure;
    grid-template-columns: 140px 1fr;
    grid-gap: 0 12px;
    align-items: center;
}

.trending-topics-widget {
    @extend .figure;
    grid-template-columns: 1fr;
    grid-gap: 24px 0;
    span{
        border-radius:12px 40px 12px 12px;
    }
}

@media (max-width: 767px) {
    .month-picks {
        display: flex;
        flex-direction: column;
    }
}

.IconRow{
    position: relative;
.Icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background-color: rgba(var(--rgbBgColor), 1);
    display: block;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    &:empty{
        display: none;
    }
    &.article{
        background-image: url(/assets/icons/health/article-icon.svg);
        background-size: 14px;
    }
    &.photo{
        background-image: url(/assets/icons/health/photo-icon.svg);
    }
    &.videoss{
        background-image: url(/assets/icons/health/video-icon.svg);
        background-size: 13px;
    }
    &.web-stories{
        background-image: url(/assets/icons/health/web-stories-icon.svg);
    }
}
}