// must add this to every component
@import 'styles/common/commonClasses/mixin';

.figure {
    display: grid;
    grid-template-columns: 445px 1fr;
    grid-gap: 0 24px;
}

.figcaption {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    display: flex;
    gap: 0 4px;
    align-items: center;
}

.footer-rhs {
    margin-left: auto;
    display: flex;
    gap: 0 6px;
}

.horizontal-image {
    // @extend .figure;
    span{
        opacity: 0;
        border-radius: 12px 12px 12px 60px;
        img{
            border-radius: 12px 12px 12px 60px;
        }
    }
}

.month-picks {
    @extend .figure;
    grid-template-columns: 175px 1fr;
    grid-gap: 0;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), #EFF0F4;

    .figcaption {
        padding: 16px;
    }
}

.list-card {
    @extend .figure;
    grid-template-columns: 140px 1fr;
    grid-gap: 0 12px;
    align-items: center;
}

.trending-topics-widget {
    @extend .figure;
    grid-template-columns: 1fr;
    grid-gap: 24px 0;
}

@media (max-width: 767px) {
    .month-picks {
        display: flex;
        flex-direction: column;
    }
}