// must add this to every component
@use '@/styles/common/commonClasses/mixin';

.footer {
  width: 100%;
  background: #DBDBDB;
  padding-top: 20px;
  animation: fadeInUp 0.4s ease-out;
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .FooterLogo{
    padding: 0 0 20px;
    i{
      margin-bottom: 10px;
      display: block;
    }
  }
    .row {
      background-color: #fff;
      .FooterLinks {
        display: none;
        padding: 0 15px;
        &.open{
          display: block;
        }
        li {
          padding: 8px 0;
          list-style-type: none;
          a {
            color: #4F536C;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }


.Heading {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 6px;
  position: relative;
  border-bottom: 1px #D9D9D94D solid;
  padding: 14px 15px;
  &.active{
    &::after{
      transform: rotate(-225deg);
      top: 22px;
    }
  }
  &::after{
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: #4F536C solid 2px;
    border-left: #4F536C solid 2px;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 16px;
  }
}

.socialIcon{
  display: flex;
  align-items: center;
  padding-top: 4px;
  li{
    list-style-type: none;
   a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 23px;
      height: 24px;
    }
   }
  }
}

.SubFooter{
  width: 100%;
  padding: 4px 0 10px;
  ul{
    display: flex;
    align-items: center;
    padding: 7px 0;
    justify-content: center;
    flex-wrap: wrap;
    li{
      list-style-type: none;
      padding: 0 14px;
      position: relative;
      &:first-of-type{
        padding-left: 0;
        &::after{
          display: none;
        }
      }
      &::after{
        background-color: #5C5F66;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        content: "";
        position: absolute;
        top: 10px;
        left: -1px;
      }
      a{
        font-size: 14px;
        color:#5C5F66;
      }
    }
  }
  p{
    font-size: 14px;
    color:#5C5F66;
    text-align: center;
    display: block;
  }
}

/*-- Old Css End --*/