/* Add your CSS styles for BGWidgetCard here */
.CityWidget {
  background: #F6F6F6 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 6px #00000029;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  @media screen and (max-width:900px) {
    padding: 20px;
    overflow: hidden;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:900px) {
      justify-content: flex-start;
    }
    i {
      img {
        display: block;
        width: 70px;
        @media screen and (max-width:900px) {
          width: 34px;
        }
      }
    }
    span {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      @media screen and (max-width:900px) {
        text-align: left;
        margin-left: 11px;
      }
    }
  }
  &:hover {
    box-shadow: 0px 3px 6px #0000005E;
    background-color: #224099;
    span {
      color: #fff;
      font-weight: bold;
    }
    i {
      img{
        -webkit-filter: brightness(100);
        filter: brightness(100);
       
      }
    }
  }

 



  
}