// must add this to every component
@import 'styles/common/commonClasses/mixin';

.symptoms-card-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(var(--rgbWhiteColor), 1);
    border-radius: 12px;
    padding: 10px;
}

.button-box {
    align-self: flex-start;
    margin-bottom: 37px;
}

.up-bar-box {
    margin-bottom: 15px;

    img {
        width: 100%;
        height: auto;
    }
}

.box-title {
    color: rgba(var(--rgbTextColor), 1);
    @include font-size(60);
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-align: center;
    margin-bottom: 5px;
}

.box-para {
    color: rgba(var(--rgbBlackColor), 0.6);
    @extend .box-title;
    @include font-size(14);
    font-weight: 400;
    line-height: 18.2px;
    margin-bottom: 0;

    strong {
        font-weight: 800;
    }
}

@media (max-width: 767px) {
    .symptoms-card-box {
        display: grid;
        grid-template-columns: 1fr 84;
    }

    .up-bar-box {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .button-box {
        margin-bottom: 10px;
    }

    .box-title,
    .box-para {
        text-align: left;
    }

    .box-title {
        @include font-size(32);
        line-height: 41.6px;
    }

    .box-para {
        @include font-size(12);
        line-height: 15.6px;
    }
}