.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.h-card {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(var(--rgbGreyBorder), 1);
}
.homePage{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(var(--rgbGreyBorder), 1);
}

.milestones {
    display: flex;
}