// must add this to every component
@import '@/styles/common/commonClasses/mixin';

.col {
    figcaption {
        div {
            p {
                @include font-size(16);
                line-height: 22.4px;
                font-weight: 800;
            }

            +p {
                margin-left: 46px;
            }
        }
    }

    svg {
        flex: 0 0 36px;
        width: 36px;
        height: 36px;
    }
}

.load-more {
    display: flex;
    justify-content: center;
}