.body-panel {
  width: 100%;
  height: 8px;
  background: rgba(var(--rgbGreyBorder), 1);
  position: sticky;
  top: 83px;
  z-index: 99;
}

.progress-bar {
  min-width: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(var(--rgbGreenColor), 1);
}

@media (max-width: 767px) {
  .body-panel {
    top: 98px;
  }

  .progress-bar {
    min-width: 12px;
  }
}
