@import '@/styles/desktop/variables';
@import '@/styles/desktop/base';
@import '@/styles/mobile/variables';
@import '@/styles/mobile/base';
/* Default Theme (Bright / Light) */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #1a73e8;
  --secondary-color: #f1f3f4;
  --border-color: #e0e0e0;
  --card-bg-color: #f9f9f9;
  --link-color: #1a0dab;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #dd1515;
  --primary-color: #90caf9;
  --secondary-color: #1e1e1e;
  --border-color: #333;
  --card-bg-color: #1f1f1f;
  --link-color: #8ab4f8;
}

.row {
    display: flex;
    margin-bottom: 12px;
  }
  
  .column {
    flex: 1;
    padding: 8px;
    border: 1px dashed #ccc;
   
  }
  /* Default light theme */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  a {
    color: inherit;
  }
  
  button {
    background-color: #6200ea;
    color: white;
  }
  
  button:hover {
    background-color: #3700b3;
  }
  
  
