
/* Add your CSS styles for BGWidgetCard here */ 
.TopManagementColleges{
  width: 100%;
  padding: 30px 0;
  border-top: 10px #224099 solid;
}

.TotalColleges{
  color: #224099;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}