@import '@/styles/common/commonClasses/mixin';

.Hero-Section{
    width: 100%;
    position: relative;
    height: 380px;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      background: #000;
      height: 100%;
      bottom: 0;
      opacity: 0.8;
    }
    .articleTitle{
      position: absolute;
      z-index: 2;
      color: #fff;
      padding-top: 20px;
      top: 50%;
      transform: translateY(-50%);  
      h1{
        font-weight: bold;
        font-size: 22px;
        line-height: 1.45;
        padding-bottom: 10px;
      }
      .IntroRow{
        font-size: 16px;
        line-height: 1.45;
        padding: 9px 0 0;
        @media screen and (max-width:900px) {
        -webkit-line-clamp: 4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        }
      }
    }
    img{
      width: 100%;
      display: block;
      height: 340px;
      object-fit: cover;
    }
    .Intro{
      background-color: rgba(var(--rgbBgColor), 0.5);
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: rgba(255, 255, 255, 1);
      font-size: 12px;
      font-weight: 400;
      padding: 5px 10px;
    }
  }

  .Hero-heading{
    color: rgba(var(--rgbTextColor1), 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding: 16px;
  }
  
  .articleShow-rhs{
    width: 100%;
    color: rgba(var(--rgbTextColor), 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin: 20px 0;
    ul, ol{
      margin-left: 10px;
      li{
        margin-bottom: 10px;
      }
    }
    img{
      width: 100%;
      display: block;
      margin-bottom: 14px;
    }
    iframe{
      display: block;
      margin: 20px auto;
      // width: 100%;
    }
    div{
      margin-top: 15px;
    }
    div:first-child{
      margin-top: 0px;
    }
    a{
      font-weight: bold;
      // color: rgba(var(--rgbTextColor), 1);
      color: #224099;
      text-decoration: underline;
    }
   
   > p{
      padding-bottom: 16px; 
    }
    > h2, h3, h4, h4{
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 22px;
    }
    > ul{
      padding-bottom: 22px;
      li{
        list-style-type: none;
      padding-left: 20px;
      position: relative;
      font-weight: 700;
      margin-bottom: 6px;
        &::before{
          content: "-";
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }


    table {
      border-collapse: collapse;
      width: 100%;
      overflow: auto;
      display: block;
  
    }
    
    td, th {
      border: 1px solid #b8b8b8;
      text-align: left;
      padding: 8px;
      font-size: 14px;
    }
    
    tr:nth-child(even) {
      background-color: #f5f5f5;
    }

  }
  
  .articleHighlights{
    width: 100%;
    background: rgba(var(--rgbBgGreyColor), 1);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 14px;
    strong{
      color: rgb(15, 47, 79);
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 4px;
      display: block;
    }
    span{
      color: rgba(var(--rgbBgColor), 1);
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;  
      display: block;
    }
    p{
      color: rgba(var(--rgbSearchKeyNote), 1);
      font-size: 12px;
      display: flex;
      align-items: center;
        svg{
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
        strong{
          padding-left: 4px;
        }
    }
  }
  
  .articleShow-Slider{
    width: 100%;
    position: relative;
    margin-bottom: 36px;
  [class*='slick-slider']{
    width: 100%;
    position: relative;
    [class*='slick-list']{
     overflow: hidden;
    }
    [class*='slick-track']{
      display: flex;
      overflow: hidden;
      [class*='slick-slide']{
        position: relative;
        &::after{
          opacity: 0.7;
          background-color: rgba(0, 0, 0, 1);
          content: "";
          position: absolute;
          width: 100%;
          height: 99%;
          top: 0;
          left: 0;
        }
        &[class*='slick-active']{
            &::after{
              opacity: 0;
            }
          }
      }
    }
    [class*='slick-arrow']{
      position: absolute;
      bottom: 18px;
      left: 29vw;
      z-index: 999;
      font-size: 0;
      background: #F0F0F3;
      width: 50px;
      height: 48px;
      border-radius: 0px 8px 8px 0px;
      &::after{
        content: "";
        width: 11px;
        height: 11px;
        border-bottom: #21409A solid 2px;
        border-right: #21409A solid 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        right: 21px;
        top: 20px;
      }
      &[class*='slick-prev']{
        left: 26vw;
        border-radius: 0px;
        &::after{
          right: 16px;
          transform: rotate(130deg);
        }
      }
    }
  }
 
  }


  .counter{
    position: absolute;
    background: #F4F5FA;
    width: 50px;
    height: 48px;
    left: 23vw;
    bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #21409A;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1px;
    border-radius: 8px 0 0 8px;
  }

  .DoctorWidget{
    border-radius: 12px;
    border: 1px solid rgba(226, 228, 234, 1);
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    .doctortop{
      background-color: #F4F5FA;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 0 30px 10px;
      border-bottom: 1px #E2E4EA solid;
      i{
        border: 1px solid rgba(0, 0, 0, 0.1);
        min-width: 80px;
        min-height: 80px;
        border-radius: 100px;
        margin-right: 10px;
      }
      p{
        color: rgba(111, 130, 149, 1);
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
      }
      strong{
        color: rgba(19, 15, 38, 1);
        font-size: 16px;
        font-weight: 900;
        line-height: 22px;
        display: block;
      }
    }
    .Experience{
      border-radius: 40px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      background-color: rgb(255, 255, 255);
      color: rgb(19, 15, 38);
      font-size: 14px;
      font-weight: 700;
      display: flex;
      margin: auto;
      width: 208px;
      height: 34px;
      align-items: center;
      justify-content: center;
      margin-top: -20px;
      svg{
        width: 14px;
        height: 14px;
        margin-right: 8px;
      }
    }
    .associated{
      color: rgba(15, 47, 79, 1);
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      text-transform: uppercase;
      border-bottom: 1px #E2E4EA solid;
      padding: 16px;
      strong{
      color: rgba(31, 76, 205, 1);
      font-size: 16px;
      font-weight: 900;
      line-height: 22px;
      display: block;
      }
    }
    .list{
      padding: 20px;
      li{
        display: flex;
        color: rgba(19, 15, 38, 1);
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        line-height: 20px;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        svg{
          width: 20px;
          height: 15px;
          margin-right: 4px;
        }
      }
    }
    .btn{
      padding: 20px;
      .back-link {
        border-radius: 12px;
        background-color: rgba(var(--rgbBgColor), 1);
        @include font-size(14);
        color: rgba(var(--rgbWhiteColor), 1);
        font-weight: 700;
        font-style: Bold;
        padding: 14px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .EndPage{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    &::after{
      border-top: 1px dashed rgb(180, 180, 180);
      opacity: 0.5;
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      width: 100%;
    }
    span{
      opacity: 0.9;
      color: rgba(15, 47, 79, 1);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      background-color: #fff;
      position: relative;
      z-index: 1;
      padding: 0 20px;
    }
  }



.articleShow-rhs [class*=fb-video] iframe{
  width: 100%;
  height: 100vw;
}

.articleShow-layout{
  background-color: #F8F8F8;
  // padding: 10px;
  margin-top: 20px;
  .grid-layout{
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;

  }
}