
/* Add your CSS styles for BGWidgetCard here */ 
.TopCollages{
  width: 100%;
  padding: 30px 0;
  background: #F8F8F8 0% 0% no-repeat padding-box;
}
.Collageslinks{
  width: 100%;
  // border-bottom: 3px solid #D9D9D9;
  position: relative;
  margin-bottom: 30px;
  &::after{
    content: "";
    border-bottom: 3px solid #D9D9D9;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
  }
  li{
    margin-right: 34px;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    position: relative;
    padding-bottom: 12px;
    &:hover{
      &::after{
        border-color: #224099;
      }
    }
    &::after{
      border-bottom: 4px transparent solid;
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 1;
      transition: all 0.3s ease;
    }
    &.active{
      color: #224099;
      font-weight: 600;
     &::after{
      border-color: #224099;
     }
    }
  }
}