@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    src: local('Manrope'), url('/assets/fonts/manrope-regular.woff') format('woff')
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    src: local('Manrope'), url('/assets/fonts/manrope-thin.woff') format('woff')
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 300;
    src: local('Manrope'), url('/assets/fonts/manrope-light.woff') format('woff')
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    src: local('Manrope'), url('/assets/fonts/manrope-medium.woff') format('woff')
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    src: local('Manrope'), url('/assets/fonts/manrope-semibold.woff') format('woff')
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    src: local('Manrope'), url('/assets/fonts/manrope-bold.woff') format('woff')
}