
/* Add your CSS styles for BGWidgetCard here */ 
.ArticlesContent{
  width: 100%;
color: #000000;
font-size: 16px;
line-height: 28px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
padding:16px;
font-weight: 400;
p{
  padding-bottom: 14px;
}
}

.ad{
  width: 100%;
  background-color: gray;
  min-height: 93px;
  margin-bottom: 14px;
}