/* Add your CSS styles for BGWidgetCard here */
.rhsWidget {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;

  .rhsWidgetTop {
    background:rgba(34, 64, 154, 0.031372549) 0% 0% no-repeat padding-box;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    align-items: flex-start;

    i {
      min-width: 50px;
      height: 50px;
      margin-right:5px;
      svg{
        width: 54px;
        height: 54px;
      }
    }

    p {
      color: #000000;
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;

      span {
        display: block;
        font-size: 11px;
        line-height: 16px;
      }
    }
  }

  .NewsUpdates {
    width: 100%;
    margin-bottom: 20px;

    li {
      padding: 14px 10px;
      border-bottom: 1px solid #D5D5D5;
      position: relative;
      list-style-type: none;
      &:last-child{
        padding-bottom: 0;
        border: 0;
      }

.Newsinfo {
  width: calc(100% - 126px);
  h3 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  span {
    display: block;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
  }
}

    }

    a {
      display: flex;
      align-items: flex-start;
      color: #000000;
      text-decoration: none;

      img {
        width: 116px;
        height: 72px;
        display: block;
        border-radius: 10px;
        margin-right: 10px;
      }
    }
  }


  .filter {
    display: flex;
    align-items: center;
    padding: 20px 0 5px;

    li {
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #707070;
      border-radius: 5px;
      flex: 1;
      text-align: center;
      height: 32px;
      line-height: 32px;
      color: #8D8D8D;
      font-size: 11px;
      margin: 0 10px;
      cursor: pointer;
      list-style-type: none;

      &.active {
        background: #224099 0% 0% no-repeat padding-box;
        color: #fff;
      }

      &:hover {
        background: #224099 0% 0% no-repeat padding-box;
        color: #fff;
      }
    }
  }

  .btn {
    background: #224099 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 4px #00000029;
    border-radius: 5px;
    width: 100%;
    border: 0;
    appearance: none;
    height: 41px;
    color: #FFFFFF;
    font-size: 13px;
    cursor: pointer;
    display: block;
    line-height: 41px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
  }

}