.container {
    width: 100%;
    max-width: var(--containerSize);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.container-lg {
    max-width: 1366px;
}

.container-position {
    // position: absolute;
    margin-top: 50px;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 767px) {
    .container-position {
        position: static;
        margin-top: 30px;
    }
}