// must add this to every component
@import '@/styles/common/commonClasses/mixin';

.my-60 {
  margin: 30px 0 60px 0;
}

.not_found_img {
  margin: 0 18px 32px 18px;

  img {
    max-width: 100%;
  }
}

.notfound {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    color: rgb(185 40 28);
    font-size: 100px;
    font-weight: 900;
  }
}

.not_found_text {
  max-width: 800px;

  p {
    @include font-size(16);
    font-weight: 500;
    color: rgba(var(--rgbTextColor), 1);
    line-height: 26px;
    text-align: center;
  }
}

.back__button {
  display: flex;
  justify-content: center;
}

.back-link {
  border-radius: 12px;
  opacity: 1;
  background-color: rgba(var(--rgbBgColor), 1);
  @include font-size(14);
  color: rgba(var(--rgbWhiteColor), 1);
  font-weight: 700;
  font-style: Bold;
  padding: 14px 20px;
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}